.slider {
    border-top: 3px solid #ff3a30;
    border-bottom: 3px solid #ff3a30;
    margin-bottom: 1rem;

    img {
        height: 350px;
        width: 100%;
    }

    h4,
    p {
        background-color: #ff3a30;
        color: white;
        border-radius: 12px;
    }

}